process{
  container = 'giusmar/seqtk:0.1'
  executor = 'google-lifesciences'
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  maxRetries = 8
  }

params.machineType = 'e2-highmem-16'
params.disk = 500
params.outdir = ""

google {
    project = 'ngdx-nextflow'
    region = "europe-west1"
}
