process{
  container = 'eu.gcr.io/ngdx-nextflow/sarscov2multipcr'
  executor = 'google-lifesciences'
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  maxRetries = 8
  }

params.machineType = 'e2-highmem-8'
params.disk = 100
params.outdir = ""

google {
    project = 'ngdx-nextflow'
    region = "europe-west1"
}
